@import 'tailwindcss';
@layer utilities {
	.no-scrollbar::-webkit-scrollbar {
		display: none;
	}
	.no-scrollbar {
		-ms-overflow-style: none;
		scrollbar-width: none;
	}
}

html,
body,
:root {
	margin: 0;
	height: 100%;
	min-height: 100dvh; /* или 100vh */
	overflow: hidden; /* ← убираем скролл с body */
	scrollbar-gutter: stable;
}

#root {
	/* если у тебя есть корневой div */
	height: 100%;
	overflow: hidden;
}

.app-scroll {
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
	touch-action: pan-y;
	min-height: 0;
}
